<!doctype html>
<html>
<head>
	<title>LED Emporium!</title>

<style>
	body {
		text-align: center;
		font-family: "Comic Sans MS", cursive, sans-serif;
	}

	h1 {
                text-align: center;
                font-family: "Comic Sans MS", cursive, sans-serif;
        }

	.ledImages{
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		height: 350px;
	}

	#images{
		text-align: center;
	}

</style>
</head>

<h1>
Welcome to Vaughn and Charlie's LED Emporium!
</h1>


<body>
Click a button to choose your LED color.
<form method="POST">
	<div id="images">
		<input type="image" class="ledImages" name="greensubmit" src="../static/greenled.jpg" alt="Green LED Button" style="padding: 10px"/>
		<input type="image" class="ledImages" name="bluesubmit" src="../static/blueled.jpg" alt="Blue LED Button" style="padding: 10px"/>
	</div>
</form>
</body>
</html>
